@{
    var status = Context.Request.Query["status"];
    var paymentType = Context.Request.Query["paymentType"];
    var Card = "text-primary";
    var Cash = "text-primary";
    var allPayment = "text-primary";
    var paymentPending = "text-primary";
    var inprocess = "text-primary";
    var completed = "text-primary";
    var approved = "text-primary";
    var allStatus = "text-primary";
    
    switch (paymentType)
    {
        case "Card":
            Card = "active text-white bg-primary";
            break;
        case "Cash":
            Cash = "active text-white bg-primary";
            break;
        default:
            allPayment = "active text-white bg-primary";
            break;
    }

    switch (status)
    {
        case "paymentPending":
            paymentPending = "active text-white bg-primary";
            break;
        case "inprocess":
            inprocess = "active text-white bg-primary";
            break;
        case "completed":
            completed = "active text-white bg-primary";
            break;
   
        default:
            allStatus = "active text-white bg-primary";
            break;

    }

}


<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        
        <div class="d-flex justify-content-between pb-5 pt-2">
            <!-- Payment Type Filter -->
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-paymentType="Card" asp-route-status="@status">
                <li class="list-group-item @Card">Card</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-paymentType="Cash" asp-route-status="@status">
                <li class="list-group-item @Cash">Cash</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-paymentType="allPayment" asp-route-status="@status">
                <li class="list-group-item @allPayment">All</li>
                </a>
            </ul>

            <!-- Status Filter -->
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess" asp-route-paymentType="@paymentType">
                <li class="list-group-item @inprocess">Order in Process</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="paymentPending" asp-route-paymentType="@paymentType">
                <li class="list-group-item @paymentPending">Payment Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed" asp-route-paymentType="@paymentType">
                <li class="list-group-item @completed">Completed</li>
                </a>
              
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="allStatus" asp-route-paymentType="@paymentType">
                <li class="list-group-item @allStatus">All</li>
                </a>
            </ul>

        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Payment Method</th>
                    <th>Order Status</th>
                    <th>Payment Status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>
}
